<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>template</title>
  <link rel="stylesheet" type="text/css" href="../lib/css/base.css">
  <link rel="stylesheet" type="text/css" href="css/template.css">
  <script>
   (function() {
    function setRem() {
      var html = document.documentElement;
      var width = html.clientWidth;
      html.style.fontSize = width / 15+ "px";
    }
    setRem();
    window.addEventListener('orientation' in window ? "deviceorientation" : "resize", setRem);
  })();
    </script>
</head>

<body>
  <!-- 页面内容 -->
</body>
<script src="../lib/js/zepto.min.js" type="text/javascript"></script>
<script src="js/template.js" type="text/javascript"></script>
</html>